/*
 * Copyright (c) 2024 Tareq Mhisen
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	leds {
		compatible = "gpio-leds";
		status_led: red_led {
			gpios = <&gpio0 38 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &status_led;
		sht-sensor = &sht3xd;
	};
};

&i2c0 {
	status = "okay";
	sht3xd: sht3xd@44 {
		compatible = "sensirion,sht3xd";
		reg = <0x44>;
	};
};
